.slds-align_absolute-center::before, .slds-align_absolute-center::after {
    content: "";
    border-bottom: 0.188em solid;    
    width: 30%;
    display: block;
    margin-left: 0.625em;
    margin-right: 0.625em;
}

.slds-align_absolute-center::before{
    border-image: linear-gradient(to right, white, black) 1;
}

.slds-align_absolute-center::after {
    border-image: linear-gradient(to left, white, black) 1;
}

.search {
    display: grid;
    justify-content: end;
    max-width: 100vw;
    margin-bottom: 15px;
    margin-right: 50px;
}

.searchInput {
    width: 494px;
}

main {
    
}

.question {
    margin-left: 26px;
}

.answe {
    max-width: 70vw;   
    margin-top: -25px; 
    margin-left: 24px;
}

.errorText {
    margin-top: 20px;
}

.buttonPagination {
    margin-top: 40px;
}


.buttonPaginationLeft {
    margin-right: 5px;
}

.buttonPaginationRight {
    margin-left: 5px;
}